:root {
    /* Tamamen Siyah */
    --bg-color: #000000;
    --text-color: #dfdfdf;
    
    /* Saf Kırmızı Prompt */
    --prompt-color: #ff2a2a;
    
    /* Terminal Komutları */
    --command-color: #ff2a2a;
    --error-color: #ff5555;
    --accent-color: #bd93f9;
    --matrix-color: #ff2a2a;
    --font-main: 'JetBrains Mono', monospace;
}

html, body {
    background-color: var(--bg-color) !important;
    margin: 0;
    padding: 0;
    width: 100%;
    min-height: 100vh;
    transition: background-color 0.4s ease;
}

body {
    color: var(--text-color);
    font-family: var(--font-main);
    overflow-x: hidden;
    padding: 20px;
    box-sizing: border-box;
}

#matrix-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 1; /* Altta kalması için */
    pointer-events: none;
}

#terminal-container {
    position: relative;
    z-index: 2; /* Yazıların matrix üstünde durması için */
    width: 100%;
    text-align: left;
    display: flex;
    flex-direction: column;
}

.input-line {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.prompt {
    color: var(--prompt-color);
    font-weight: bold;
    margin-right: 10px;
    white-space: nowrap;
    transition: color 0.4s ease;
}

#terminal-input {
    background: transparent;
    border: none;
    color: var(--command-color);
    font-family: var(--font-main);
    font-size: 16px;
    flex: 1;
    padding: 0;
    outline: none;
    transition: color 0.4s ease;
}

.history-item {
    margin-bottom: 4px;
    white-space: pre-wrap;
    word-break: break-all;
}

.error-text {
    color: var(--error-color);
}

a {
    color: #8be9fd;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

/* Neofetch Düzeni */
.fetch-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 35px;
    margin: 15px 0;
}

.fetch-logo {
    color: var(--prompt-color);
    font-family: var(--font-main);
    white-space: pre;
    line-height: 1.1;
    transition: color 0.4s ease;
}

.fetch-info {
    font-family: var(--font-main);
    white-space: pre;
}

.color-palette {
    display: flex;
    gap: 8px;
    margin-top: 15px;
}

.color-block {
    width: 25px;
    height: 20px;
}
